<h1>{{header}}</h1>

{{#if query}}
	<p>Query: {{query}}</p>
{{/if}}

{{#if book}}
	<table>
		<tr>
			<td>Title:</td>
			<td>{{book.title}}</td>
		</tr>
		<tr>
			<td>Author(s):</td>
			<td>
				{{#with book.authors}}
					{{#each this}}  
						{{this}}
						{{#unless @last}}<br>{{/unless}}
					{{/each}}
				{{else}}
					'--'
				{{/with}}
			</td>
		</tr>
		<tr>
			<td>Date:</td>
			<td>{{book.publishedDate}}</td>
		</tr>
		<tr>
			<td>Publisher:</td>
			<td>{{book.publisher}}</td>
		</tr>
	</table>
{{/if}}

{{#if error}}
	<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}
