<h1>{{header}}</h1>

{{#if query}}
	<p>Query: {{query}}</p>
{{/if}}

{{#if book}}
	<table>
		<tr>
			<td>Title:</td>
			<td>{{book.title}}</td>
		</tr>
		<tr>
			<td>Author(s):</td>
			<td>
				{{#if book.authors}}
					{{#each book.authors}}
						{{this}}
						{{#unless @last}}<br>{{/unless}}
					{{/each}}
				{{else}}
					'--'
				{{/if}}
			</td>
		</tr>
			<tr>
				<td>Date:</td>
				<td>{{book.publishedDate}}</td>
			</tr>
			<tr>
				<td>Publisher:</td>
				<td>{{book.publisher}}</td>
			</tr>
	</table>
	{{#if allowSave}}
		<form action='/books' method='POST'>
			<input type='hidden' name='bookId' value='{{book.id}}'>
			<input type='submit' value='Save'>
		</form>
	{{/if}}
{{/if}}

{{#if error}}
	<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}
